---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["dev"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"hpves7kxrm68d_rvcuuivg","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/hpves7kxrm68d_rvcuuivg","value":"Chuck
        Norris does infinit loops in 4 seconds."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=animal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["animal"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"bmom6jqftpqgokh8adtolw","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/bmom6jqftpqgokh8adtolw","value":"Chuck
        Norris once rode a nine foot grizzly bear through an automatic car wash, instead
        of taking a shower."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["food"],"created_at":"2020-01-05 13:42:30.480041","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"S5uiluahRM26CTWRZNXfwg","updated_at":"2020-01-05
        13:42:30.480041","url":"https://api.chucknorris.io/jokes/S5uiluahRM26CTWRZNXfwg","value":"Chuck
        Norris decided to sell his poop as a food product ... we know it now as wheaties."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=career
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["career"],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"cwguxfhptcuagndjdt1hya","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/cwguxfhptcuagndjdt1hya","value":"In
        the beginning there was nothing...then Chuck Norris Roundhouse kicked that
        nothing in the face and said \"Get a job\". That is the story of the universe."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=explicit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["explicit"],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"8YXcmdHXR32JljqNxbYECg","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/8YXcmdHXR32JljqNxbYECg","value":"Chuck
        Norris is the Chuck Norris of every sport. Except gay sports. Tom Cruise is
        the Tom Cruise of those."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=money
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["money"],"created_at":"2020-01-05 13:42:20.568859","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"WjOKx1P3TL6sg03vnkQmcA","updated_at":"2020-05-22
        06:02:41.792421","url":"https://api.chucknorris.io/jokes/WjOKx1P3TL6sg03vnkQmcA","value":"If
        you have 5 dollars and Chuck Norris has 5 dollars, he has more money than
        you do."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=celebrity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["celebrity"],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"l7QlUREJQzOIJVB88DY9jg","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/l7QlUREJQzOIJVB88DY9jg","value":"Chuck
        Norris was at the X-games getting ready for competition when he got a message
        from Paris Hilton saying that she had sent him a friend request on MySpace.
        An infuriated Chuck Norris logged on to MySpace using his skateboard and rejected
        the request immediately."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=religion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["religion"],"created_at":"2020-01-05 13:42:19.104863","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"ak7chtuzqy2u7tzc6z1b3q","updated_at":"2020-01-05
        13:42:19.104863","url":"https://api.chucknorris.io/jokes/ak7chtuzqy2u7tzc6z1b3q","value":"It''s
        widely believed that Jesus was Chuck Norris'' stunt double for crucifixion
        due to the fact that it is impossible for nails to pierce Chuck Norris'' skin."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["movie"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"pn_y-heotimuyfatmsvzng","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/pn_y-heotimuyfatmsvzng","value":"When
        Bruce Banner gets mad, he turns into the Hulk. When the Hulk gets mad, he
        turns into Chuck Norris."}'
  recorded_at: Tue, 21 Dec 2021 21:37:53 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=political
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["political"],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"hfrevauks9-hbwc5bf4p2w","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/hfrevauks9-hbwc5bf4p2w","value":"Chuck
        Norris doesn''t believe in Germany."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=fashion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["fashion"],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"0wdewlp2tz-mt_upesvrjw","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/0wdewlp2tz-mt_upesvrjw","value":"Chuck
        Norris does not follow fashion trends, they follow him. But then he turns
        around and kicks their ass. Nobody follows Chuck Norris."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["history"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"kfjreqvxs464s6rspcj-qq","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/kfjreqvxs464s6rspcj-qq","value":"Chuck
        Norris once shot down a German fighter plane with his finger. By yelling \"Bang!\""}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["travel"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"8l-mg2v1s-kz1p6uz5mdmg","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/8l-mg2v1s-kz1p6uz5mdmg","value":"As
        an infant, Chuck Norris'' parents gave him a toy hammer. He gave the world
        Stonehenge."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["music"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"7tb4dwgvrwkaqg-a-wzhlq","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/7tb4dwgvrwkaqg-a-wzhlq","value":"Chuck
        Norris shot the sheriff, but he round house kicked the deputy."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=science
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["science"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"htgg43w6sxs9_-5nn3s5ha","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/htgg43w6sxs9_-5nn3s5ha","value":"The
        square root of Chuck Norris is pain. Do not try to square Chuck Norris, the
        result is death."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=sport
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["sport"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"17or3xgerjg7gsv9pcazwa","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/17or3xgerjg7gsv9pcazwa","value":"Chuck
        Norris once participated in the running of the bulls. He walked."}'
  recorded_at: Tue, 21 Dec 2021 21:37:54 GMT
recorded_with: VCR 6.0.0
