---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=animal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["animal"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"bmom6jqftpqgokh8adtolw","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/bmom6jqftpqgokh8adtolw","value":"Chuck
        Norris once rode a nine foot grizzly bear through an automatic car wash, instead
        of taking a shower."}'
  recorded_at: Tue, 21 Dec 2021 23:05:06 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=career
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["career"],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"cwguxfhptcuagndjdt1hya","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/cwguxfhptcuagndjdt1hya","value":"In
        the beginning there was nothing...then Chuck Norris Roundhouse kicked that
        nothing in the face and said \"Get a job\". That is the story of the universe."}'
  recorded_at: Tue, 21 Dec 2021 23:05:07 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=celebrity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["celebrity"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"hxdulftcswqglp1-qe3nfw","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/hxdulftcswqglp1-qe3nfw","value":"Wilt
        Chamberlain claims to have slept with more than 20,000 women in his lifetime.
        Chuck Norris calls this \"a slow Tuesday.\""}'
  recorded_at: Tue, 21 Dec 2021 23:05:08 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["dev"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"wlmypgkkrlgjguoyhc2e0q","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/wlmypgkkrlgjguoyhc2e0q","value":"Chuck
        Norris doesn''t go on the internet, he has every internet site stored in his
        memory. He refreshes webpages by blinking."}'
  recorded_at: Tue, 21 Dec 2021 23:05:08 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=explicit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["explicit"],"created_at":"2020-01-05 13:42:28.143137","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"4gVGjVd9RSipzaD-Tx41FQ","updated_at":"2020-01-05
        13:42:28.143137","url":"https://api.chucknorris.io/jokes/4gVGjVd9RSipzaD-Tx41FQ","value":"When
        Chuck Norris toured Britain, it inspired the Sex Pistols to write \"Anarchy
        In The UK\"."}'
  recorded_at: Tue, 21 Dec 2021 23:05:09 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=fashion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["fashion"],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"0wdewlp2tz-mt_upesvrjw","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/0wdewlp2tz-mt_upesvrjw","value":"Chuck
        Norris does not follow fashion trends, they follow him. But then he turns
        around and kicks their ass. Nobody follows Chuck Norris."}'
  recorded_at: Tue, 21 Dec 2021 23:05:09 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["food"],"created_at":"2020-01-05 13:42:30.177068","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"Tuk9RfV7T92nPhH-sxPCfQ","updated_at":"2020-01-05
        13:42:30.177068","url":"https://api.chucknorris.io/jokes/Tuk9RfV7T92nPhH-sxPCfQ","value":"Chuck
        Norris double batters his chicken and fish in cocaine & gorilla milk/egg wash."}'
  recorded_at: Tue, 21 Dec 2021 23:05:09 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["history"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"vxmg5zgusq6ra35ns4e5sw","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/vxmg5zgusq6ra35ns4e5sw","value":"After
        returning from World War 2 unscrathed, Bob Dole was congratulated by Chuck
        Norris with a handshake. The rest is history."}'
  recorded_at: Tue, 21 Dec 2021 23:05:10 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=money
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["money"],"created_at":"2020-01-05 13:42:23.484083","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"3sw5A0AMRlOgPfZdtTM3wg","updated_at":"2020-05-22
        06:16:41.133769","url":"https://api.chucknorris.io/jokes/3sw5A0AMRlOgPfZdtTM3wg","value":"There
        was no \"Great deppresion\". Just a time when Chuck Norris didn''t have money."}'
  recorded_at: Tue, 21 Dec 2021 23:05:10 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["movie"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"hy1jtzj8svq3mpr6pv6lfg","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/hy1jtzj8svq3mpr6pv6lfg","value":"Godzilla
        is a Japanese rendition of Chuck Norris'' first visit to Tokyo."}'
  recorded_at: Tue, 21 Dec 2021 23:05:10 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["music"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"qxsbf-jeq_act5a4bbwavq","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/qxsbf-jeq_act5a4bbwavq","value":"The
        Drummer for Def Leppard''s only got one arm. Chuck Norris needed a back scratcher."}'
  recorded_at: Tue, 21 Dec 2021 23:05:11 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=political
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["political"],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"w-DO4hGuRBeWRFz2cVoRzQ","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/w-DO4hGuRBeWRFz2cVoRzQ","value":"Barack
        Obama recently stated that he considers it ''a great honour and privilege''
        to shine Chuck Norris'' shoes every Wednesday."}'
  recorded_at: Tue, 21 Dec 2021 23:05:11 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=religion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["religion"],"created_at":"2020-01-05 13:42:19.324003","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"defxwux_t-wond-zfhoicq","updated_at":"2020-01-05
        13:42:19.324003","url":"https://api.chucknorris.io/jokes/defxwux_t-wond-zfhoicq","value":"Chuck
        Norris doesn''t play god. Playing is for children."}'
  recorded_at: Tue, 21 Dec 2021 23:05:12 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=science
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["science"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"qszz44pvr3iv7kzgwoedza","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/qszz44pvr3iv7kzgwoedza","value":"Chuck
        Norris can do a roundhouse kick faster than the speed of light. This means
        that if you turn on a light switch, you will be dead before the lightbulb
        turns on."}'
  recorded_at: Tue, 21 Dec 2021 23:05:12 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=sport
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["sport"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"bdo-g3sjtowgdeneipfgrg","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/bdo-g3sjtowgdeneipfgrg","value":"Chuck
        Norris qualified with a top speed of 324 mph at the Daytona 500, without a
        car."}'
  recorded_at: Tue, 21 Dec 2021 23:05:12 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["travel"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"8l-mg2v1s-kz1p6uz5mdmg","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/8l-mg2v1s-kz1p6uz5mdmg","value":"As
        an infant, Chuck Norris'' parents gave him a toy hammer. He gave the world
        Stonehenge."}'
  recorded_at: Tue, 21 Dec 2021 23:05:13 GMT
recorded_with: VCR 6.0.0
