---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.194739","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"iZuq8uvzRsmbhPv8x6VLoA","updated_at":"2020-01-05
        13:42:26.194739","url":"https://api.chucknorris.io/jokes/iZuq8uvzRsmbhPv8x6VLoA","value":"Chuck
        Norris is in Hawaii researching a role as an&#65279; old, beardless man, so
        he can teach Daniel Day-Lewis to lie the fuck down once in a while."}'
  recorded_at: Tue, 21 Dec 2021 23:44:08 GMT
recorded_with: VCR 6.0.0
