---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["dev"],"created_at":"2020-01-05 13:42:19.104863","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"vhyuanawsl-rpq18bwwgfq","updated_at":"2020-01-05
        13:42:19.104863","url":"https://api.chucknorris.io/jokes/vhyuanawsl-rpq18bwwgfq","value":"Chuck
        Norris programs occupy 150% of CPU, even when they are not executing."}'
  recorded_at: Tue, 21 Dec 2021 21:35:50 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.984661","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"r6wIRDCpQ0SCPA2GhL0oIQ","updated_at":"2020-01-05
        13:42:28.984661","url":"https://api.chucknorris.io/jokes/r6wIRDCpQ0SCPA2GhL0oIQ","value":"Chuck
        Norris Sleeps On The Cieling"}'
  recorded_at: Tue, 21 Dec 2021 21:35:50 GMT
recorded_with: VCR 6.0.0
