---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/search?query=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"total":5,"result":[{"categories":[],"created_at":"2020-01-05 13:42:20.841843","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"6aqcOwDJQyeMo9FvUCJjow","updated_at":"2020-01-05
        13:42:20.841843","url":"https://api.chucknorris.io/jokes/6aqcOwDJQyeMo9FvUCJjow","value":"Chuck
        Norris and his Mom have matching tattoos. Left kuckle Right knuckle Chuck
        Norris . Left foot Right foot Chuck Norris. Only one difference. Above his
        Mom''s hairy mat it reads Hello ! Above Chuck Norris''s bearded Ass it simply
        reads Goodbye."},{"categories":[],"created_at":"2020-01-05 13:42:22.980058","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"nlvsVqcOQaWezU6I18SzJQ","updated_at":"2020-01-05
        13:42:22.980058","url"[...]
